streamlit
python-dotenv
langchain
langchain-classic
langchain-community
langchain-text-splitters
langchain-groq
langchain-huggingface
sentence-transformers
faiss-cpu
pypdf
langchain-huggingface
transformers
huggingface_hub
